$infoButton: 10px;

* {
  margin: 0;
  padding: 0;
  font-family: 'Arial', Helvetica, sans-serif;
	font-size: 12px;
}

.button {
  display: block;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.35);
  user-select: none;
  cursor: pointer;
  color: white;
	font-size: 14px;
}

.buttonRounded {
  @extend .button;
  border-radius: 4px;
  margin-bottom: 5px;
}

.disabled {
  pointer-events: none;
}

.infoContainer {
  position: fixed;
  display: inline-table;
  top: 0;
  right: 0;
  width: 125px;
  height: 100%;
  background: rgba(255, 255, 255, 0.55);
  transition: all 0.33s ease-in-out;
  border-left: solid thin rgba(0, 0, 0, 0.35);
  z-index: 2;
  font-size: 13px;
  font-weight: bold;
}

.infoContent {
  display: inline-block;
  padding: 20px 20px 10px 20px;
  vertical-align: top;
}

.infoHide {
  @extend .button;
  height: 15px;
  transition: all 0.33s ease-in-out;
	font-size: 20px;
  font-weight: bold;
  width: 10px;
  background: transparent;
	color: black;
}

.hide {
  transform: translateX(100%);
}

.showHide {
  transform: translateX(-30px);
}

.infoUsers {
  padding: $infoButton * 0.5;
}

.infoUsers::after {
  content: attr(content);
  padding: 0 4px 0 0;
}

.infoLocating {
  display: inline-table;
  padding: $infoButton * 0.5;
}

.infoLocateBtn {
  @extend .buttonRounded;
  display: inline-block;
  padding: $infoButton;
}

@keyframes locating {
  from {
    background: black;
  }

  to {
    background: lime;
  }
}

.locating::after {
  animation-duration: 0.33s;
  animation-name: locating;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.located::after {
  content: '';
  background: lime;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  vertical-align: middle;
  width: 10px;
  height: 10px;
}

$sliderContainerPadding: 20;

.sliderContainer {
	&:before {
		content: attr(data-name);
		display: block;
		padding: 6px 0;
		text-transform: capitalize;
		font-size: 13px;
	}
	&:after {
		content: attr(data-value);
		display: block;
		padding: 4px 8px;
		font-size: 14px;
		font-weight: bold;
	}
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  padding: 0 $sliderContainerPadding * 1px;
}

$knobSize: 24;
$knobBorder: 5;
$sliderColor: slategray;
$knobColor: white;

.sliderPole {
	pointer-events: none;
  display: block;
  width: 100%;
  height: $knobSize * 1px;
  background: $sliderColor;
  border-radius: $knobSize / 2 * 1px;
}

.sliderKnob {
	pointer-events: none;
	box-sizing: border-box;
  display: inline-block;
  width: $knobSize * 1px;
  height: $knobSize * 1px;
  border-radius: 100%;
  margin: -$knobSize * 1px 0 0 0;
  background: $knobColor;
	border: solid $knobBorder * 1px $sliderColor;
	opacity: 0.95;
}

.map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.marker {
  &:after {
    content: attr(id);
    display: none;
    font-size: 12px;
    padding-left: 15px;
    font-weight: bold;
  }
  &:hover::after {
    display: inline-block;
  }
  display: inline-block;
  width: 12px;
  height: 12px;
  background: green;
  border-radius: 100%;
  cursor: pointer;
}

.ol-overlaycontainer {
  z-index: 1 !important;
}
